language: java
jdk:
- oraclejdk8
script: mvn clean package
after_success:
- mvn clean cobertura:cobertura coveralls:report
notifications:
  slack:
    on_failure: always
    on_success: always
    secure: DqDrvJn4zF0aYntW0Oz+7BGl55yRu2pfcUc3lfdYOoconGNOn0HSgmKk6FaulD8ZJPrfNlxMpR185K3RMRmbnOzu+5kUGTUj1VhIvwbTCAhyK2mNWvZC5iSQqXcF4iPnK0DRzeg+cYezBaVJDmeWnMLKrvM8KRC4hELWrcNfykQ=
